

@keyframes hero-thumb-animation{
    0% {
    transform: translateY(-20px);
}
100% {
    transform: translateY(0);
}
}
.shape-1 {
    animation: hero-thumb-animation 2s linear infinite alternate;
}
.banner-1 {
    position: absolute;
    z-index: 2;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 356px;
    margin: auto;
    max-height: 356px;
}
/* banner 2 */
@keyframes hero-thumb-sm-animation{
 0% {
    transform: translateY(-20px) translateX(50px);
}
100% {
    transform: translateY(-20px) translateX(0);
}
}

.banner-2 {
    position: absolute;
    z-index: 2;
    max-width: 192px;
    top: 30px;
    left: 0;
}
.shape-2 {
    animation: hero-thumb-sm-animation 4s linear infinite alternate;
}

/* banner-3 */
@keyframes hero-thumb-sm-2-animation{
 0% {
    transform: translateY(-20px) translateX(50px);
}
100% {
    transform: translateY(-20px) translateX(0);
}
}
.banner-3 {
    position: absolute;
    z-index: 2;
    max-width: 165px;
    bottom: 0px;
    left: 0;
}
.shape-3 {
    animation: hero-thumb-sm-2-animation 4s linear infinite alternate;
}
/* banner-4 */
.banner-4 {
    position: absolute;
    z-index: 2;
    max-width: 145px;
    top: 30px;
    right: 80px;
}
/* banner -5 */
.banner-5 {
    position: absolute;
    z-index: 2;
    max-width: 131px;
    top: 300px;
    right: 30px;
}
/* banner -6 */
.banner-6 {
    position: absolute;
    z-index: 2;
    max-width: 120px;
    bottom: -30px;
    right: 170px;
}
.banner-imgs {
    padding: 65px 0 0;
    position: relative;
    height: 100%;
    min-height: 540px;
}
.banner-imgs:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../../../../src/assets/images/Untitled_design__1_-removebg-preview.png) no-repeat top;
    background-size: contain;
    content: "";
    z-index: 1;
}

/* brows button */
.banner-button {
  background: transparent;
  color: #ffffff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 20px 30px;
  perspective: 30rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}


/* wave */
.waves-section{
  position: relative;
}
.wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../../../../../src/assets/images/wave.png);
  background-size: 1000px 100px;
}
.wave-1{
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
@keyframes animate{
  0%
  {
    background-position-x: 0;
  }
  100%{
    background-position-x: 1000px ;
  }
}

.wave-2{
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
@keyframes animate2{
  0%
  {
    background-position-x: 0;
  }
  100%{
    background-position-x: -1000px ;
  }
}

.wave-3{
  animation: animate2 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.wave-4{
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -2s;
  bottom: 20px;
}


.animate-spin-slow {
  animation: sum-spin 14s linear infinite; /* Adjust the animation duration for desired speed */
}

@keyframes sum-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}