.profile-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}



.active {
    color: white !important;
    font-size: 16px !important;
    cursor: pointer !important;
    background-color: blue !important;
    /* width: 100px !important; */
    height: 40px !important;
    text-align: center !important;
    padding-top: 8px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    cursor: pointer !important;
    border-radius: 20px !important;
} 

.text {
    /* text-transform: uppercase !important; */
    text-transform: none !important;
    font-weight: 800px !important;
}