.bg-chat {
  background: #ed4264;
  background: -webkit-linear-gradient(to right, #ffedbc, #ed4264);
  background: linear-gradient(to right, #ed4264, #ffedbc);
}

.bg-own-chat {
  background: #fc00ff;
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
  background: linear-gradient(to right, #00dbde, #fc00ff);
}

.bg-color {
  background-color: #c6f0e3;
}

.message-text {
  overflow-wrap: break-word;
}
