@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.borderl {
  border-width: 0 0 0 4px;
  border-color: #00b04d;
}

.borderl {
  border-width: 0 0 0 4px;
  border-color: #1b18a1;
}

.shadowdiv {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.image-upload {
  border: 1px solid rgb(51, 45, 45);
}

.shadowform {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.activetab {
  font-size: 18px !important;
  cursor: pointer !important;
  text-align: center !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  border-radius: 8px !important;
  width: 100%;
  background-color: rgb(205, 205, 24) !important;
  color: white !important;
  text-align: left !important;
  font-weight: 800px !important;
}

.tabbuttonactive {
  color: black !important;
  background-color: aliceblue !important;
  border-radius: 18px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  padding-top: 5px !important;
  padding-bottom: 6px !important;

}

::-webkit-scrollbar {
  display: none;
}

.online-dot {
  background-color: #1b18a1;
  border-radius: 60%;
  position: absolute;
  left: 6rem;
  width: 1rem;
  height: 1rem;
}



.banner {
  background: #159957;
  background: -webkit-linear-gradient(to right, #155799, #159957);
  background: linear-gradient(to right, #155799, #159957);
}


.mid-banner {
  background: #f7ff00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #db36a4, #f7ff00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cardbanner {
  background: #7474BF;
  background: -webkit-linear-gradient(to right, #348AC7, #7474BF);
  background: linear-gradient(to right, #348AC7, #7474BF);
}




/* admin home page charts shadow */
.chat-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Link active color */
.activeLink {
  color: purple !important;
  background-color: crimson !important;
}

.online-dot {
  background-color: rgb(47, 255, 151);
  border-radius: 60%;
  position: absolute;
  left: 6rem;
  width: 1rem;
  height: 1rem;
}

.search-card {
  box-shadow: 2px 1px rgb(19, 205, 106)
}


