@tailwind base;
@tailwind components;
@tailwind utilities;


.borderl{
    border-width: 0 0 0 4px ;
    border-color: #00B04D;
}

.shadowdiv{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.image-upload{
    border: 1px solid rgb(51, 45, 45);
}
.shadowform{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.activetab {
    font-size: 18px !important;
    cursor: pointer !important;
    text-align: center !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    border-radius: 8px !important;
    width: 100%;
    background-color: rgb(70, 73, 70) !important;
    color: white !important;
    text-align: left !important;
    font-weight: 800px !important;
}


::-webkit-scrollbar{
    display: none;
  }

 .online-dot {
    background-color: rgb(47, 255, 151);
    border-radius: 60%;
    position: absolute;
    left: 6rem;
    width: 1rem;
    height: 1rem;
  }
  
